<nav class="navbar">
 <div class="wrapper">
  <a class="navbar-brand" href="/">Estadas</a>
 </div>
</nav>

<div class="wrapper">
    
 <div class="frame body-frame">
     <div class="bit-100">
     <h1>Welcome, {{user.name}}</h1>
     <h2>You have been granted <i>admin</i> access</h2>
     <br>
     <a href="/usersettings" class="indexbtn" >User Settings</a>
     <br><br>
     <a href="/postsettings" class="indexbtn" >Post Settings</a>
     <br><br>
     <a href="/cnotification" class="indexbtn" >Notification Settings</a>
     </div>
     </div>
</div>